.git
.gitignore
node_modules/
.DS_Store
data/
redis-data/
packages/web/node_modules/
packages/lib/node_modules/
services/chat/node_modules/
services/mob/node_modules/
services/price/node_modules/
services/session/node_modules/
services/agent/node_modules/
services/comon/node_modules/
services/docs/node_modules/
services/aith/node_modules/
services/auth/node_modules/
services/ai/node_modules/
services/db/node_modules/
services/api/node_modules/
terraform/.terraform
lerna-debug.log
